<ul class="feature-strip" id="features" aria-label="What Estatein offers">
  <li class="feature-tile">
    <a class="feature-tile__link" href="properties.html">
      <span class="icon-ring"><span class="icon-ring__inner"><svg class="icon" aria-hidden="true"><use href="assets/icons/sprite.svg#feature-home"></use></svg></span></span>
      <span class="feature-tile__title">Find Your Dream Home</span>
      <svg class="icon feature-tile__arrow" aria-hidden="true"><use href="assets/icons/sprite.svg#tile-arrow"></use></svg>
    </a>
  </li>
  <li class="feature-tile">
    <a class="feature-tile__link" href="services.html#unlock-property-value">
      <span class="icon-ring"><span class="icon-ring__inner"><svg class="icon" aria-hidden="true"><use href="assets/icons/sprite.svg#feature-value"></use></svg></span></span>
      <span class="feature-tile__title">Unlock Property Value</span>
      <svg class="icon feature-tile__arrow" aria-hidden="true"><use href="assets/icons/sprite.svg#tile-arrow"></use></svg>
    </a>
  </li>
  <li class="feature-tile">
    <a class="feature-tile__link" href="services.html#property-management">
      <span class="icon-ring"><span class="icon-ring__inner"><svg class="icon" aria-hidden="true"><use href="assets/icons/sprite.svg#feature-management"></use></svg></span></span>
      <span class="feature-tile__title">Effortless Property Management</span>
      <svg class="icon feature-tile__arrow" aria-hidden="true"><use href="assets/icons/sprite.svg#tile-arrow"></use></svg>
    </a>
  </li>
  <li class="feature-tile">
    <a class="feature-tile__link" href="services.html#smart-investments">
      <span class="icon-ring"><span class="icon-ring__inner"><svg class="icon" aria-hidden="true"><use href="assets/icons/sprite.svg#feature-investment"></use></svg></span></span>
      <span class="feature-tile__title">Smart Investments, Informed Decisions</span>
      <svg class="icon feature-tile__arrow" aria-hidden="true"><use href="assets/icons/sprite.svg#tile-arrow"></use></svg>
    </a>
  </li>
</ul>
