<ul class="stars" aria-label="Rated 5 out of 5">
                <li class="stars__item"><svg class="icon" aria-hidden="true"><use href="assets/icons/sprite.svg#star"></use></svg></li>
                <li class="stars__item"><svg class="icon" aria-hidden="true"><use href="assets/icons/sprite.svg#star"></use></svg></li>
                <li class="stars__item"><svg class="icon" aria-hidden="true"><use href="assets/icons/sprite.svg#star"></use></svg></li>
                <li class="stars__item"><svg class="icon" aria-hidden="true"><use href="assets/icons/sprite.svg#star"></use></svg></li>
                <li class="stars__item"><svg class="icon" aria-hidden="true"><use href="assets/icons/sprite.svg#star"></use></svg></li>
              </ul>
